@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
  font-family: "Poppins", sans-serif;
}

.link{
  position: relative;
}
.link::before{
  content: "";
  width:0%;
  height: 2px;
  background-color: rgb(245, 23, 23);
  position:absolute;
  bottom: 0px;
  left: 0px;
}
.link:hover::before{
    width: 100%;
    transition: .3s all ease-in-out;
}